nav {
    background-color:beige
}
nav {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    background-color:cornsilk;
}
nav a {
    text-decoration: none;
    font-size: 20px;
    color: brown;
}
nav a:hover{
    color: blueviolet;
}